#profile {
    padding: 50px 0px 0px 0px;
    background-color: #E9EBEE;
    height: 100vh;
}

#cover {
    background-color: #E9EBEE;
    background-size: cover!important;
    -webkit-box-shadow: 1px 1px 2px #888888;
	-moz-box-shadow: 1px 1px 2px #888888;
	box-shadow: 1px 1px 2px #888888;
}

#cover #user-name{
    color: white;
    text-shadow: 0 2px 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 2px 4px #000;
    -webkit-text-shadow: 0 2px 4px #000;
}

.btn-primary-outline {
    opacity: 0.8;
    border-color: #ccc;
}

.btn-primary-outline:hover {
    opacity: 1.0!important;
    border-color: #ccc;
}

.img-profile {
    width: 175px;
    height: 175px;
    -webkit-box-shadow: 1px 1px 2px #888888;
	-moz-box-shadow: 1px 1px 2px #888888;
	box-shadow: 1px 1px 2px #888888;
}

div.img-container {
    display: inline-block;
    position: relative;
}

div .positioning-bottom{
    opacity: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;    
    background: rgba(0,0,0,.6);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all .15s ease .15s; /* For Safari 3.1 to 6.0 */
    transition: all .15s ease .15s;
}
div.positioning-bottom:hover {
    background: rgba(0,0,0,.8);
}

div.img-container:hover div{
    opacity: 1;
}

.panel.panel-default {
	-webkit-box-shadow: 1px 1px 2px #888888;
	-moz-box-shadow: 1px 1px 2px #888888;
	box-shadow: 1px 1px 2px #888888;
    padding: 15px;
}

.panel-header {
    background-color: white;
}

.btn-icon {
	color: #484848;
}

.panel-header{
    font-weight: bold;
}

.panel-thumb {
    width: 40px; 
    display: inline-block; 
    vertical-align: top;
}
.panel-author { 
    display: inline-block; 
    margin-left: 2px; 
    font-family: Helvetica, Arial, Sans-serif; 
    font-weight: 700; 
    color: #3b5998;
}
.panel-date {
    color:#9197a3; 
    font-size:12px; 
    font-weight:500;
}
.panel-body {
    padding: 5px 0px 0px 0px;
}


.panel-social-actions {
    padding-right: 20px;
    font-size: 1.0em; 
    font-weight: bold;
    color:#9197a3;
}

@media only screen and (max-width: 425px) {
    .panel-social-actions {
        font-size: 0.95em; 
    }
}

.panel-social-actions:hover {
    color: rgba(0,0,0,.6);
}

.fa-icon {
    color: rgba(0,0,0,.6);
}

.fa-icon-btn {
    color: rgba(0,0,0,.6);
}

.fa-icon-btn:hover {
    color: rgba(0,0,0,1);
}

.btn-update-post {
    padding: 0px 15px!important;
}

.dislike {
    color:#3b5998!important;
}

.dislike:hover {
    color: rgba(0,0,0,.6)!important;
}

